body{
    background: linear-gradient(90deg, #ccd2db 50%, #a2b3cc 50%);
}
#fit{
    
        font-family: "Jacques Francois Shadow", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
}

 
#navv {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: black;
}
.dd{
       font-family: "Merriweather Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 45px;
        color: #0b3166;
}
 .downloadbody{
        display: flex;
        margin-right: 20px;
        
 }

 .download{
        display: flex;
        border: 1px solid rgb(36, 35, 35);
        padding: 10px;
        width: 190px;
        background-color: rgb(36, 35, 35);
        color: white;
        border-radius: 40px;
        padding-left: 25px;
 }

 .sub-text{
        
       font-family: "Merriweather Sans", sans-serif;
       font-optical-sizing: auto;
       font-weight: bold;
       font-style: normal;
       font-size: 17px;
       color: #0b3166;
 }

 .down{
        border: 1px solid #0b3166;
        margin-top: 50px;
        padding: 16px;
        width: 200px;
        background-color: #0b3166;
        color: white;
        border-radius: 40px;
        padding-left: 45px;
        box-shadow: 1px 5px 15px 6px rgba(11,49,102,0.4);
        -webkit-box-shadow: 1px 5px 15px 6px rgba(11,49,102,0.4);
        -moz-box-shadow: 1px 5px 15px 6px rgba(11,49,102,0.4);
 }

 .per{
       font-family: "Merriweather Sans", sans-serif;
       font-optical-sizing: auto;
       font-weight: bold;
       font-style: normal;
       font-size: 16px;
       color: #0b3166;
       padding-top: 25px;
       padding-left: 9px;
 }
 .perr{
       font-family: "Merriweather Sans", sans-serif;
       font-optical-sizing: auto;
       font-weight: bold;
       font-style: normal;
       font-size: 16px;
       color: #0b3166;
       padding-top: 10px;
       padding-left: 9px;
 }


 .percent{
       font-size: 50px;
       font-weight: bold;
 }